* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: calc(40%);
    margin: auto;
    background-color: yellow;
}

div {
    display: inline-block;
}

.front, 
.back {
    width: 100px;
    height: 200px;
    margin-right: 10px;
}

.back {
    position: absolute;
}

.back {
    background-color: black;
}

.card1 {
    background-color: red;
}

.card2 {
    background-color: blue;
}

