body {
    background-color: #00b5f7;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.instructions-container h1 {
    font-size: 100px;
}

.instructions-container h1,
.instructions-container p {
    text-align: center;
}

.instructions-container button {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: -15%;
}

.instructions-container a {
    text-decoration: none;
}


